@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }


  @media (max-width: 400px) {
    .history .text-history {
        font-size: 5rem;
    } 
  } 

  @media (max-width: 315px) {
    .history .text-history {
        font-size: 4rem;
    } 
  }

  @media (max-width: 1024px) {
    html,
    body {
      overflow-x: hidden;
    }
  
  } 



.scroll-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-animation.animate {
  opacity: 1;
  transform: translateY(0);
}

  