---
import video from '../../assets/video.mp4'
---
<section>
    <video
      class="absolute top-0 left-0 w-full h-full object-cover z-[-1]"
      autoplay
      muted
      loop
    >
      <source src={video} type="video/mp4" />
      Tu navegador no soporta videos.
    </video>
    <div class="bg-neutral-950 absolute top-0 left-0 w-full h-full opacity-40 z-30"></div>

    <section class="relative flex flex-col justify-between h-screen z-40 scroll-animation text-white items-center text-center">
        <div class="mt-5">
            <h1 class="text-3xl font-bold font-anton">MOONWAVE</h1>
            <h2 class="text-2xl font-bold">"A lifestyle"</h2>
        </div>
        <button class="relative bottom-0 bg-black p-2 px-5 rounded-xl font-bold text-2xl mb-5">Social</button>
      
    </section>
</section>
